.card {
  align-items: initial;
  background-color: rgb(2, 62, 138);
  border: solid 2px white;
  border-radius: 5px;
  color: rgb(254, 250, 224);
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 200px;
}
