.form {
  align-items: initial;
  background-color: rgb(106, 153, 78);
  border: solid 2px white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 5px;
}

.buttonSalvar {
  width: 60px;
}

.inputStyles {
  border-radius: 5px;
}
